%article.type-system-geometric
  %h1 Welcome #{ current_user.first_name }

  %ul.bullets
    %li.bullet
      .bullet-icon.bullet-icon-1
        %i.fa.fa-archive.fa-lg
      .bullet-content
        %h2 Stock
        - if @stock_amount.zero?
          %p= t(".no_stock")
        - else
          %p= t(".stock_info", value: number_to_currency(@stock_amount))
    %li.bullet
      .bullet-icon.bullet-icon-2
        %i.fa.fa-gbp.fa-lg
      .bullet-content
        %h2 Sales
        %p= t(".sales_info", value: 0)
    %li.bullet
      .bullet-icon.bullet-icon-3
        %i.fa.fa-money.fa-lg
      .bullet-content
        %h2 Payments
        %p= t(".payment_info", value: 0)
