%h1= t("admin.users.page_title")

%table.tables
  %thead
    %tr
      %th Name
      %th Role
      %th Status
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.full_name
        %td= user.role.humanize
        %td= user.active? ? "Active" : "Disabled"
        %td
          = link_to 'Edit', edit_admin_user_path(user), class: "button"
          = link_to 'Remove', admin_user_path(user), :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "button button--destroy"

%br

= link_to 'New User', new_admin_user_path, class: "button"
